body{
    background-color: black;
    text-align: center;
}

h1{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 50px;
    font-weight: normal;
}

a{
    color: aquamarine;
    font-size: 16px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
    color: white;
}

h6{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
    font-weight: normal;

}

#app{
    margin-top: 20px;
}

 footer p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    text-align: right;
    font-size: 21px;
 }